# this file will make it easier to update in github. include papermod theme. 
[submodule "themes/PaperMod"]
    path = themes/PaperMod # path on my working directory
    url = "https://github.com/adityatelange/hugo-PaperMod.git"